@import '../colours';
@import '../mixins';

// Base font size
html { font-size: 18px }

body {
	@extend %font-body;
	line-height: 160%;
	color: $c_text;
	background: $c_background;
}

.container {
	width: 100%;
	max-width: 860px;
	margin: auto;
}


h1, h2, h3, h4, h5, h6 {
	@extend %font-title;
	padding-bottom: 10px;
	line-height: 1.1em;
}
h1 { font-size: 2rem }
h2 { font-size: 1.6rem }
h3 { font-size: 1.3rem }
h4 { font-size: 1.15rem }
h5 { font-size: 1rem }
h6 { font-size: 0.8rem }

ul, ol { margin-left: 20px }

strong { font-weight: 600 }

a {
	color: $c_link;
	text-decoration: none;

	&:hover { text-decoration: underline }
}

p { padding-bottom: 30px }
ul, ol { padding-bottom: 20px }
p:last-child, ul:last-child { padding-bottom: 0 }

main {
	display: block;
	min-height: calc(100vh - 170px);
}

code, pre { @extend %font-code }
code {
	border: none;
	padding: 2px 4px;
	background: #eee;
	border-radius: 3px;
}
p code { font-size: 0.9em }
pre.chroma code {
	padding: 0;
	background: none;
}

hr {
	width: 60px;
	height: 3px;
	margin: 30px auto;
	border: none;
	background: #e0e2e4;
}
