/**
 * Resets the default padding & margin of all elements
 * and provides default styles for basic elements
 */
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body { min-height: 100% }
img { max-width: 100% }
