/**
 * List pages (homepage, subjects, tags...)
 */

@import '../../colours';
@import '../../mixins';

.list {
	@extend %container-text;
	padding: 30px 0;
}

.list-title {
	padding: 30px 0;
	@extend %container-text;
}


.list-header {
	@extend %container-text;
	padding-top: 20px;
}
.list-header__inner {
	@extend %flex-center;
	padding: 30px;

	border: 2px solid $c_border;
	border-radius: 6px;
}
.list-header__logo {
	@extend %background-cover;
	flex-shrink: 0;

	width: 140px;
	height: 140px;
	margin-right: 28px;
	border-radius: 50%;
}
.list-header__info p {
	padding-bottom: 10px;
}


.list-header + .list {
	padding-top: 10px;
}
