@import '../../mixins';
@import '../../colours';

.author {
	height: 60px;
	margin-top: 80px;
	background: $c_background_alt;
}

.author__inner {
	@extend %container-text;
	@extend %flex-center;

	position: relative;
	height: 100px;
	top: -50px;
}

.author__avatar {
	width: 100px;
	height: 100px;
	margin-right: 10px;
	border-radius: 50%;
	border: 8px solid white;
}

.author__name {
	height: 30px;
}

.author__links {
	font-size: 0.9rem;
}
