@import '../../colours';
@import '../../mixins';

$break: 580px;

.file {
	@extend %container-text;
	@extend %flex-center;
	flex-wrap: wrap;

	padding: 20px;
	border: 2px solid $c_border;
	border-radius: 6px;
}

.file__button {
	flex-basis: 100%;

	@include min-width($break) {
		flex-basis: 0;
		margin-right: 20px;
	}

	a {
		display: block;
		padding: 6px 12px;

		color: white;
		background: $c_link;
		border-radius: 3px;
		transition: all 60ms ease-out;
		text-align: center;
	}

	a:hover {
		background: darken($c_link, 5%);
		text-decoration: none;
	}
}

.file__info {
	display: flex;
	align-items: center;

	flex-grow: 1;
	flex-basis: 100%;

	@include min-width($break) {
		flex-basis: 0;
		display: block;
	}
}

.file__name {
	flex-grow: 1;
	@extend %font-body-bold;
}
.file__size {
	line-height: 100%;
	font-size: 0.8rem;
	color: $c_text_light;

	@include min-width($break) {
		padding-bottom: 6px;
	}
}
