@import '../../colours';
@import '../../mixins';

.list-tile {
	@extend %flex;
	flex-wrap: wrap;

	padding: 20px 0;

	@include min-width() { flex-wrap: nowrap }
}

.list-tile__image {
	@extend %background-cover;
	flex-grow: 1;
	flex-shrink: 0;

	width: 100%;
	min-height: 180px;
	margin-bottom: 10px;

	border-radius: 5px;

	@include min-width() {
		flex-grow: 0;
		width: 180px;
		margin-right: 20px;
		margin-bottom: 0;
	}
}

.list-tile__info {
	h1 { padding-bottom: 0 }
	h1 a { color: $c_text }
	p { padding-bottom: 10px }
}

.list-tile .list-tile__meta {
	padding-top: 0;
	color: $c_text_light;

	> * { padding: 0 10px }
	> *:first-child { padding-left: 0 }

	@include min-width() {
		> * { padding: 0 15px }
	}
}

.list-tile__info h1, .list-tile__meta {
	text-align: center;
	@include min-width() { text-align: left }
}
