$text-verylight: hsl(210, 8%, 60%);
$text-light: hsl(210, 10%, 28%);
$text: hsl(210, 10%, 20%);
$text-dark: hsl(210, 10%, 12%);

$background: hsl(240, 16%, 98%);
$border: hsl(240, 60%, 95%);

$action-light: hsl(202, 65%, 58%);
$action: hsl(202, 65%, 50%);
$action-dark: hsl(202, 65%, 42%);
